<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>登录</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/public.css" />
  <link rel="stylesheet" href="css/register.css" />
</head>

<body>
  <div class="wrap" id="login">
    <!--顶部-->
    <header class="header clearfix">
      <div class="header-con">
        <!--logo-->
        <h1 class="logo fleft">
          <a href="#"><img src="img/logo.png" /></a>
        </h1>
        <!--search-->
        <section class="header-search fleft">
          <input value="" placeholder="search" />
          <button type="button">
            <img src="svg/ss.svg" />
          </button>
        </section>
        <section class="header-language fright" id="header-language-id">
          <p class="selected" id="js-language-selected" @click="showLanguage()">
            <img src="svg/xl.svg" class="xl" :class="{'active': isShowLanguage}" />
            <span v-if="languageType == 1"><img src="svg/ry.svg" />日本语</span>
            <span v-if="languageType == 2"><img src="svg/zw.svg" />中文</span>
            <span v-if="languageType == 3"><img src="svg/yy.svg" />English</span>
          </p>
          <ul v-show="isShowLanguage">
            <li @click="selectLanguage(1)" v-if="languageType != 1"><img src="svg/ry.svg" />日本语</li>
            <li @click="selectLanguage(2)" v-if="languageType != 2"><img src="svg/zw.svg" />中文</li>
            <li @click="selectLanguage(3)" v-if="languageType != 3"><img src="svg/yy.svg" />English</li>
          </ul>
        </section>
        <section class="header-btngroup fright">
          <a class="btn-white-radius">新規登録</a>
          <a class="btn-black-radius">Login</a>
        </section>
      </div>
    </header>
    <!--content-->
    <section class="register-content">
      <header class="register-title">ようこそ</header>
      <div class="register-item">
        <label>メールアドレス(ユーザ名)</label>
        <!--input-->
        <input class="register-input" :class="handleInputClass(userName,userNameObj)" type="text" v-model="userName" @focus="focusUserName()" @blur="blurUserName()" placeholder="" />
        <!--clear-->
        <img class="register-input-clear" src="svg/clear.svg" v-show="userName && userNameObj.isClear" @click="clearUserName" alt="">
        <!--error-->
        <p class="register-item-error-text" v-if="userName && userNameObj.isError">有効なメールアドレスを入力してください</p>        
      </div>
      <div class="register-item">
        <label>パスワード</label>
        <!--input-->
        <input class="register-input" :class="handleInputClass(passWord,passWordObj)" type="password" v-model="passWord" @focus="focusPassWord()" @blur="blurPassWord()" placeholder="" />
        <p class="register-txt-forget"><a href="#">パスワードリセット</a></p>
        <!--clear-->
        <img class="register-input-clear" src="svg/clear.svg" v-show="passWord && passWordObj.isClear" @click="clearPassWord" alt="">
        <!--error-->
        <p class="register-item-error-text" v-if="passWord && passWordObj.isError">有効なメールアドレスを入力してください</p>       
      </div>      
      <!-- button-->
      <button type="button" class="btn-black-radius-large" disabled>login</button>
      <p class="register-tip"><a href="#">新規登録</a></p>
      <!--lines-->
      <div class="register-lines">
        <p>OR Login in with</p>
      </div>
      <!--share-->
      <div class="register-share">
        <div class="register-share-box">
        	<a href="#">
	          <img src="svg/share-icon1.svg" alt="">
	          Facebook
          </a>
        </div>
        <div class="register-share-box">
        	<a href="#">
	          <img src="svg/share-icon2.svg" alt="">
	          Twitter
          </a>
        </div>
        <div class="register-share-box">
        	<a href="#">
        		<img src="svg/share-icon3.svg" alt="">
          	Line
        	</a>          
        </div>
      </div>
    </section>
  </div>
  <script type="text/javascript" src="libs/vue.min.js"></script>
  <script type="text/javascript" src="libs/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
</body>

</html>