<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>注册-验证码</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/public.css" />
  <link rel="stylesheet" href="css/register.css" />
</head>

<body>
  <div class="wrap" id="registerYzm">
    <!--顶部-->
    <header class="header clearfix">
      <div class="header-con">
        <!--logo-->
        <h1 class="logo fleft">
          <a href="#"><img src="img/logo.png" /></a>	
        </h1>
        <!--search-->
        <section class="header-search fleft">
          <input value="" placeholder="search" />
          <button type="button">
            <img src="svg/ss.svg" />
          </button>
        </section>
        <section class="header-language fright" id="header-language-id">
          <p class="selected" id="js-language-selected" @click="showLanguage()">
            <img src="svg/xl.svg" class="xl" :class="{'active': isShowLanguage}" />
            <span v-if="languageType == 1"><img src="svg/ry.svg" />日本语</span>
            <span v-if="languageType == 2"><img src="svg/zw.svg" />中文</span>
            <span v-if="languageType == 3"><img src="svg/yy.svg" />English</span>
          </p>
          <ul v-show="isShowLanguage">
            <li @click="selectLanguage(1)" v-if="languageType != 1"><img src="svg/ry.svg" />日本语</li>
            <li @click="selectLanguage(2)" v-if="languageType != 2"><img src="svg/zw.svg" />中文</li>
            <li @click="selectLanguage(3)" v-if="languageType != 3"><img src="svg/yy.svg" />English</li>
          </ul>
        </section>
        <section class="header-btngroup fright">
          <a class="btn-white-radius">新規登録</a>
          <a class="btn-black-radius">Login</a>
        </section>
      </div>
    </header>
    <!--用户名、密码-->
    <section class="register-content">
      <header class="register-title">アカウントを作成</header>
      <div class="register-item">
        <label>メール確認コードを入力してください <span>fei****@163.com</span></label>
        <!--input-->
        <input class="register-input" :class="handleInputClass(userName,userNameObj)" type="text" v-model="userName" @focus="focusUserName()" @blur="blurUserName()" placeholder="" />
        <button type="button" class="btn-txt-send">送信する</button>        	
        <!--clear-->
        <img class="register-input-clear-send" src="svg/clear.svg" v-show="userName && userNameObj.isClear" @click="clearUserName" alt="">
        <!--error-->
        <p class="register-item-error-text" v-if="userName && userNameObj.isError">有効なメールアドレスを入力してください</p>
      </div>
      <!--button-->
      <button type="button" class="btn-black-radius-large">OK</button>
    </section>
  </div>
  <script type="text/javascript" src="libs/vue.min.js"></script>
  <script type="text/javascript" src="libs/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="js/registerYzm.js"></script>
</body>

</html>