<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>コレクション</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/public.css" />
  <link rel="stylesheet" href="css/personal.css" />
</head>

<body>
  <div class="wrap" id="personalNav1">
    <!--顶部-->
    <header class="header clearfix">
      <div class="header-con">
        <!--logo-->
        <h1 class="logo fleft">
          <a href="#"><img src="img/logo.png" /></a>
        </h1>
        <!--search-->
        <section class="header-search fleft">
          <input value="" placeholder="search" />
          <button type="button">
            <img src="svg/ss.svg" />
          </button>
        </section>
        <section class="header-language fright" id="header-language-id">
          <p class="selected" id="js-language-selected" @click="showLanguage()">
            <img src="svg/xl.svg" class="xl" :class="{'active': isShowLanguage}" />
            <span v-if="languageType == 1"><img src="svg/ry.svg" />日本语</span>
            <span v-if="languageType == 2"><img src="svg/zw.svg" />中文</span>
            <span v-if="languageType == 3"><img src="svg/yy.svg" />English</span>
          </p>
          <ul v-show="isShowLanguage">
            <li @click="selectLanguage(1)" v-if="languageType != 1"><img src="svg/ry.svg" />日本语</li>
            <li @click="selectLanguage(2)" v-if="languageType != 2"><img src="svg/zw.svg" />中文</li>
            <li @click="selectLanguage(3)" v-if="languageType != 3"><img src="svg/yy.svg" />English</li>
          </ul>
        </section>
        <section class="header-btngroup fright">
          <a class="btn-white-radius">新規登録</a>
          <a class="btn-black-radius">Login</a>
        </section>
      </div>
    </header>
    <!--personal-->
    <div class="personal-header">
      <div class="main clearfix">
        <div class="personal-header-img fleft">
          <img src="img/head.jpg" />
        </div>
        <div class="personal-header-info fleft">
          <h2>Username</h2>
          <div class="info ">
            自己紹介です。好きなだけ書いてください。単語数に制限はありません。書くだけです。自己紹介です。好きなだけ書いてください。単語数に制限はありません。書くだけです。
          </div>
        </div>
      </div>
    </div>
    <!--main-->
    <section class="main clearfix">
      <div class="personal-left fleft">
        <ul>
          <li class="active"><a href="#">コレクション</a></li>
          <li><a href="#">取引一覧</a></li>
          <li><a href="#">ユーザ設定</a></li>
          <li><a href="#">クレジットカード管理</a></li>
          <li><a href="#">出品</a></li>
          <li><a href="#">友達招待</a></li>
          <li><a href="#">お気に入り</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="personal-right fright">
        <section class="personal-tabs-title">
          <span @click="tabTypeTitle(1)" :class="{'cur':curTypeTitle == 1}">コレクション</span>
          <span @click="tabTypeTitle(2)" :class="{'cur':curTypeTitle == 2}">現物引換一覧</span>
        </section>
        <!--コレクション-->
        <section class="personal-tabs-body" v-if="curTypeTitle == 1">
          <span @click="tabTypeBody(1)" :class="{'cur':curTypeBody == 1}">未出品 (10)</span>
          <span @click="tabTypeBody(2)" :class="{'cur':curTypeBody == 2}">出品中 (10)</span>
          <span @click="tabTypeBody(3)" :class="{'cur':curTypeBody == 3}">出品終了（販売済み）</span>
        </section>
        <!--コレクション-->
        <div class="personal-sp" v-if="curTypeTitle == 1">
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--未出品-->
          <div class="personal-sp-item" v-if="curTypeBody == 1">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state wcp">未出品</span>
            <div class="personal-sp-btngroup medium clearfix">
              <button type="button" class="btn-white-radius">現物引換</button>
              <button type="button" class="btn-black-radius">出品</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品中-->
          <div class="personal-sp-item" v-if="curTypeBody == 2">
            <a href="#"><img src="img/img1.jpg" />
              <p>イヤリング</p>
            </a>
            <span class="state cpz">出品中</span>
            <div class="personal-sp-btngroup large clearfix">
              <button type="button" class="btn-white-radius" data-toggle="modal" data-target="#cpzModal">出品取消</button>
            </div>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
          <!--出品終了-->
          <div class="personal-sp-item" v-if="curTypeBody == 3">
            <a href="#">
              <img src="img/img1.jpg" />
              <div class="info">
                <span class="t1">イヤリング</span>
                <span class="t2">20,000 円</span>
                <span class="t3">出品日時：2021-08-09</span>
              </div>
            </a>
            <span class="state cpzl">出品終了</span>
          </div>
        </div>
        <!--現物引換一覧-->
        <div class="personal-xh" v-if="curTypeTitle == 2">
          <div class="personal-xh-item">
            <img src="img/img2.jpg" class="img" />
            <section class="infoxwyy">
              <h3 class="xxyhyl">商品名</h3>
              <div class="xxyhnr">
              	<p>東京市-新宿区-*****</p>
              </div>
              <div class="xxyhnr">
              	<p>177-0999-3333</p>
              </div>
            </section>
            <section class="infobtn">
            	<p class="dsd">発送待ち</p>
            	<button type="button" class="sqqrbtn" data-toggle="modal" data-target="#xwyhylModal">受取を確認する</button>
            </section>
          </div>
          <div class="personal-xh-item">
            <img src="img/img2.jpg" class="img" />
            <section class="infoxwyy">
              <h3 class="xxyhyl">商品名</h3>
              <div class="xxyhnr">
              	<p>東京市-新宿区-*****</p>
              	<p>配送業者：****</p>
              </div>
              <div class="xxyhnr">
              	<p>177-0999-3333</p>
              	<p>追跡番号：7777 **** **** 7777</p>
              </div>
            </section>
            <section class="infobtn">
            	<p class="dsd">輸送中</p>
            	<button type="button" class="sqqrbtn" data-toggle="modal" data-target="#xwyhylModal">受取を確認する</button>
            </section>
          </div>
          <div class="personal-xh-item">
            <img src="img/img2.jpg" class="img" />
            <section class="infoxwyy">
              <h3 class="xxyhyl">商品名</h3>
              <div class="xxyhnr">
              	<p>東京市-新宿区-*****</p>
              	<p>配送業者：****</p>
              </div>
              <div class="xxyhnr">
              	<p>177-0999-3333</p>
              	<p>追跡番号：7777 **** **** 7777</p>
              </div>
            </section>
            <section class="infobtn">
            	<p class="ysd">配達済み</p>
            </section>
          </div>
        </div>
      </div>
    </section>
    <!--footer-->
    <footer class="footer clearfix">
      <div class="footer-con">
        <h1 class="logo fleft">
          <img src="img/logo1.png" />
        </h1>
        <div class="footer-nav">
          <dl>
            <dt><a>コミュニティ</a></dt>
            <dd><a>お問い合わせ</a></dd>
            <dd><a>事業協力</a></dd>
          </dl>
          <dl>
            <dt><a>コミュニティ</a></dt>
            <dd><a>お問い合わせ</a></dd>
            <dd><a>事業協力</a></dd>
          </dl>
          <dl>
            <dt><a>コミュニティ</a></dt>
            <dd><a>お問い合わせ</a></dd>
            <dd><a>事業協力</a></dd>
          </dl>
        </div>
      </div>
    </footer>
    <!--出品中modal-->
    <div class="modal fade" id="cpzModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-message">
        <div class="modal-content">
          <div class="modal-body">
            出品を取り消します。よろしいですか？
          </div>
          <div class="modal-footer modal-gryhk-footer clearfix">
            <button type="button" class="modal-btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="modal-btn-primary" @click="zpzConfim">確認</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!-- 現物引換一覧modal -->
    <div class="modal fade" id="xwyhylModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-message">
        <div class="modal-content">
          <header class="modal-content-header">受取を確認する</header>
          <section class="modal-content-text">NFTの実物を届きましたか？</section>
          <div class="modal-footer modal-gryhk-footer clearfix">
            <button type="button" class="modal-btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="modal-btn-primary" @click="zpzConfim">確認</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
  </div>
  <script type="text/javascript" src="libs/vue.min.js"></script>
  <script type="text/javascript" src="libs/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="libs/jquery.nicescroll.js"></script>
  <script type="text/javascript" src="libs/bootstrap/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="js/personalNav1.js"></script>
</body>

</html>